body {
    margin: 0;
    padding-top: 800px;
    text-align: center;
    font-family: 'Playfair Display', serif;

}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 40px;
    font-weight: 300;
    line-height: 1.2;
}

h2 {
    font-family: 'Lobster', cursive;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.2;
}

h3 {
    font-family: 'Lobster', cursive;
}

#Welcome {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 500px;
    width: 100%;
    background: linear-gradient(cyan 0%, green 100%);
    color: #eeab2f;
    opacity: 0.83;

    /* Insert Comment */
    display: table;
    z-index: 9;

}

#name {
    font-size: 40px;
    line-height: 1.2;
    font-family: 'Lobster', cursive;
}

.welcome-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;
}

.profile {
    height: 175px;
    width: 200px;
    margin-bottom: 50px;
    border-radius: 50%;
}

#Bio {


    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

.line {
    width: 70px;
    height: 6px;
    color: navy;
    margin: 2px auto;
    background-color: #000;

}

.menu {
    color: navy;
    list-style: none;
    position: fixed;
    top: 0px;
    cursor: pointer;
    right: 10px;
    z-index: 10;
    width: 100%;

    font-family: 'Lobster', cursive;
}

.links {
    float: left;
    display: inline;
    padding-top: 5px;
    padding-left: 9px;
    padding-left: 9px;
    padding-right: 5px;
    font-family: fantasy;
    font-size: 20px;
    color: #fff;


}

a {
    color: navy;
    text-decoration: none;

}

.article:hover {
    color: fuchsia;
}

p {
    max-width: 450px;
    margin: 25px auto;
    font-size: 17px;
    line-height: 1.3;

}

.links:hover {
    background-color: blanchedalmond;
}

html {
    scroll-behavior: smooth;
}

#Welcome:hover {
    color: #ec59f1;
    ;
}

#Writing:hover {
    color: #ee7010;
}

#Work:hover {
    color: #ee7010;
}

#Bio:hover {
    color: #ec59f1;
}

#Video:hover {
    color: #ec59f1;
}
